<a href="https://colab.research.google.com/github/atik81/AI/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

In [2]:
#loading the Dataset
dataset = np.genfromtxt('./sample_data/normal_distribution.csv', delimiter=',')

In [3]:
#showing the first two row of the dataset
dataset[0:2]

array([[ 99.14931546, 104.03852715, 107.43534677,  97.85230675,
         98.74986914,  98.80833412,  96.81964892,  98.56783189],
       [ 92.02628776,  97.10439252,  99.32066924,  97.24584816,
         92.9267508 ,  92.65657752, 105.7197853 , 101.23162942]])

In [9]:
#q5: calculate the median of the last 3 columns
np.median(dataset[:, -3:])

99.47332349999999

In [10]:
#q6: calculate the median of each row
np.median(dataset, axis=1)

array([ 98.77910163,  97.17512034,  98.58782879, 100.68449836,
       101.00170737,  97.76908825, 101.85002253, 100.04756697,
       102.24292555,  99.59514997, 100.4955753 ,  99.8860714 ,
        99.00647994,  98.67276177, 102.44376222,  96.61933565,
       104.0968893 , 100.72023043,  98.70877396,  99.75008654,
       104.89344428, 101.00634942,  98.30543801,  99.18748092])

In [12]:
#q7: calculate the varience of each column
np.var(dataset, axis=0)

array([23.64757465, 29.78886109, 20.50542011, 26.03204443, 28.38853175,
       19.09960817, 17.67291174, 16.17923204])

In [13]:
#Question 8) calculate the variance of the intersection of the last 2 rows and first 2 columns
np.var(dataset[-2:, :2])

4.674691991769191

In [14]:
#Question 9) calculate the standard deviation for the dataset
np.std(dataset)

4.838197554269257

In [4]:
#q1) calculate the mean of the first row

np.mean(dataset[0])

100.177647525

In [5]:
#q2: calculate the mean of the last column
np.mean(dataset[:,-1])

100.4404927375

In [ ]:
#q3:calculate the mean of the intersection of the first 3 rows and first 3 columns
np.mean(dataset[0:3, 0:3])

In [15]:
#q4:calculate  the median of the last row
np.median(dataset[-1])

99.18748092

In [17]:
#Activity 2: Basic Data Visualisation in Python
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.datasets import load_iris

In [19]:
iris = pd.read_csv('/content/sample_data/iris.csv')

In [21]:
#q10:print number of rows and columns
print(iris.shape)
>(150, 5)

SyntaxError: ignored